<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Mars</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/Card-Deck.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <div class="jumbotron text-center">
        <h1 class="text-center">Mission To Mars</h1>
        <p><a class="text-center" style="height: 50;width: 1000;"><button class="btn btn-primary text-center text-white" href="/scrape" role="button">Scrape new data</a></p>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">{{mars.news_title}}</h4>
                            <p class="card-text">{{mars.news_p}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Mars Weather</h4>
                            <p class="card-text">{{mars.mars_weather}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card"></div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-0">
                    <h4 class="text-center">Featured Image</h4>
                    <img src={{mars.featured_image_url}} alt="featured image" style="width:70%"></div>
                <div class="col-md-5 offset-md-1">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>description</th>
                                    <th>value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Cell 1</td>
                                    <td>Cell 2</td>
                                </tr>
                                <tr>
                                    <td>Cell 3</td>
                                    <td>Cell 4</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-group">
        <div class="card"></div>
    </div>
    <div class="card-group">
        <div class="card"><img  src={{mars.hem_image_urls[0].img_url}} width ="100%" class="card-img-top w-100 d-block">
            <img src={{mars.hem_image_urls[1].img_url}} width ="100%" class="card-img-bottom w-100 d-block"></div>
        <div class="card"><img src={{mars.hem_image_urls[3].img_url}} width ="100%" class="card-img-top w-100 d-block">
            <img src={{mars.hem_image_urls[4].img_url}} width ="100%" class="card-img-bottom w-100 d-block"></div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>